[core]
        editor = vim
        pager = less

[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
        pager = true
        ui = auto

[alias]
        hist = log --graph --oneline --decorate
        st = status

[usr]
	email = ignacio.wetzler@gmail.com
[user]
	email = ignacio.wetzler@gmail.com
	name = ignacio-wetzler
